.cards {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem auto;
    max-width: 80%;
    

    &__top {
        @include cardFlex

    }

    &__text {
        max-width: 45ch;
        line-height: 1.8;
    }

    &__img {
        width: 40%;
    }

    &__middle {
        @include cardFlex
    }

    &__bottom {
        @include cardFlex
    }

    @include breakpoint-down(small) {
        max-width: 100%;
        
        &__top {
            flex-direction: column-reverse;
            
        }

        &__img {
            width: 100%;
        }

        &__middle {
           flex-direction: column;
          
        }

        &__bottom {
            flex-direction:  column-reverse;
           
        }

        &__text {
            > h1 {
                font-size: 1.5rem;
                text-align: center;
                line-height: 1.2;
                margin: 0.8rem 0;
            }

            > p {
                text-align: center;
                font-size: 0.8rem;
            }
            
        }
    }
}